<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    {{ 'homepg-style-v2.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    
<div class="banner">
  <div class="text-container">
  <div class="text">
      <h2>Deep Moo Vr</h2>
      <h1>{{ section.settings.text }}</h1>
      {% for block in section.blocks %}
        <p>{{ block.settings.text }}</p>
        {% endfor %}
       <a href="https://deepmoovr.myshopify.com/pages/x3proinfo" class="learnmore">
        <button class="learnmore">Learn more</button>
        </a> 
    </div>
  </div>
  <div class="imagecombo">
    <div class="image">
      <img src="{{ 'croppedbannerpng.png' | asset_url }}" alt="Banner Image">
    </div>
    <div class="shadow">
      <img src="{{ 'croppedshadow.png' | asset_url }}" alt="Shadow">
    </div>
  </div>
     
</div>
    
  </body>
</html>


{% schema %}
  {
    "name": "Banner-V2",
    "settings": [{
      "type": "text",
      "id":"text",
      "label":"Heading"
    }],
    "presets": [{
      "name": "Banner-V2"
    }],
    "tag":"section",
    "class": "custom-section",
    "limit": 1,
    "blocks":[{
      "name": "Description",
      "type":"text",
      "settings": [{"type": "text",
      "id":"text",
      "label":"Description"}]
    }]
  }
{% endschema %}
